<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">

    <link href="{{ link_open_sans }}" rel="stylesheet" type="text/css">
    <link href="{{ link_common_css }}" rel="stylesheet" type="text/css">
    <link href="{{ link_lab_css }}" rel="stylesheet" type="text/css">

    <script src="{{ link_jquery }}" type="text/javascript"></script>
</head>
<body>
    <main class="content">
        <header class="title">{{ title }}</header>
{{ :all }}
    </main>
</body>
</html>
