<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">

    <link href="{{ link_open_sans }}" rel="stylesheet" type="text/css">
    <link href="{{ link_common_css }}" rel="stylesheet" type="text/css">
    <link href="{{ link_lab_css }}" rel="stylesheet" type="text/css">
    <script src="{{ link_script }}" type="text/javascript"></script>
    <script src="{{ link_jquery }}" type="text/javascript"></script>
</head>
<body>
    <main class="content">
        <header class="title">{{ title }}</header>
        <div class="segment">
            {{ :question }}
            <div class="self-test">
                <table class="question">
                    <tr>
                        <td><input type="radio" name="q0"></td>
                        <td><div class="text">{{ option1 }}</div></td>
                        <td>
                            <div class="text">
                                {{ :explanation1 }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="q0"></td>
                        <td><div class="text">{{ option2 }}</div></td>
                        <td>
                            <div class="text">
                                {{ :explanation2 }}
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="testbutton checkbutton">Check Solution</div>
            </div>
        </div>
    </main>
</body>
</html>
